<div class="row">
    <div class="col-2  fbbody1">
    <app-home-column-left></app-home-column-left>
    </div>
    <div class="col-8  fbbody2">
      <app-home-column-centre></app-home-column-centre>    
    </div>
    <div class="col-2  fbbody3">
    <app-home-column-right></app-home-column-right> 
  </div>
</div>