.row{
    background-color:#e4e6eb;
}
.fbbody1{
    display:flex; flex-direction:column;
    padding-top: 16px;
 }  

.fbbody2{    
    flex-direction:column;
    justify-content: center;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
}
.fbbody3{
    flex-direction:column;
    padding-top: 8px;
}
