.facebook-header{
    background-color: rgb(255, 255, 255);
    height:60px;
    padding-left: 10px;
    padding-top: 5px;
}
.centre{
    padding-left: 110px;
    justify-content: space-evenly;
    padding-right: 110px;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}
.icon {
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: #3578E5;
    color: white;
    margin-top: 5px;
    margin-left: 9px;
    align-content: center;
    padding-top: 0px;
    padding-left: 10px;
    font-size: 35px;
}
.searchbox{
    width: 320px;
    height: 40px;
}
.searchimage{
    
    background-size: 26px 1090px;
    background-repeat: no-repeat;
    display: inline-block;
}
.box{
    outline-offset: -2px;
    -webkit-appearance: none;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 10px;
    width: 240px;
    height: 40px;
    background-color: rgb(212, 214, 219);border-color: transparent;
}
.boxsearch{
    background-color: #d4d6db;
    border-radius: 50px;
    margin-left: 15px;
    padding-left: 20px;
    height: 40px;
    width: 234px;
    padding-top: 7px;
    margin-top: 5px;
}
.inputsearch{
    border: transparent;
    background-color: transparent;
    outline: none;
    padding-left:10px;
}

.svg{
    margin-left: 100px;
    vertical-align: middle;
    overflow: hidden;
}
.rightelement{
    padding-right: 16px;
    padding-left: 4px;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    
}
.account{
    width: 40px;
    height: 40px;
    background-color: rgb(228, 230, 235);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.fa-sort-desc{background-size: 22px 22px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;}
.notifications{
    width: 40px;
    height: 40px;
    background-color: rgb(228, 230, 235);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;}
.messenger{
    width: 40px;
    height: 40px;
    background-color: rgb(228, 230, 235);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;
}

.create{
    width: 40px;
    height: 40px;
    background-color: rgb(228, 230, 235);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;
}
.profile{
    margin-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 100px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    padding-top: 3px;
    display: flex;
    margin-left:4px;
    border-radius: 50px;
    padding-left:5px
    }
.profile:hover{
    margin-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 36px;
    width: 100px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    padding-top: 3px;
    display: flex;
    margin-left:4px;
    background-color: rgb(219, 219, 219);
    border-radius: 50px;
    padding-left:5px
    }



.profilename{
    color: rgb(5, 5, 5);
    font-weight: 600;
    margin-top: 5px;
    padding-top: 35px;
}
.search_box{
    margin-top: 12px;
}
.fbbody1{
    background-color:#e4e6eb;width: 360px;height: 10053.1px;display:flex; flex-direction:column;
 }
.fa-sort-desc{
    padding-left:15px;
    padding-top: 8px;}
.fa-bell{
    padding-left:11px;
    padding-top: 10px;
    
}
.fa-plus{
    padding-left:14px;
    padding-top: 12px;
}
.messenger-icon{
    margin-left: 10px;
    margin-top: 9px;
    
}
.seemore{
    width: 30px;
    height: 30px;
    background-color: rgb(201, 206, 219);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;

}
.fa-angle-down{
    padding-left: 10px;
    padding-top: 7px;
}
.myprofile{
    background-image: image("assests/img/logo.png");
}
.myprofile:hover{
background-color: rgb(219, 219, 219);
border-radius: 7px;
}
.centreicons:hover{
    background-color: rgb(219, 219, 219);
    
}
.centreicons{
    
    height: 52px;
    width: 116.56px;
}
.fbbody2{
    width: 863px;height:10053.1px;
    background-color:#e4e6eb;
    flex-direction:column;
    justify-content: center;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
}
.status{
    width:119.6px;
     height: 100%;
     padding-left: 4px;
     padding-right:4px;
     
}
.statuspicture{
    width:110.6px; 
    height: 100%;
    border-radius:10px;
    
}
.whiteround{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: -95px;
}
.blueplus{
    width: 30px;
    height: 30px;
    background-color: #0047fa;
    box-sizing: border-box;
    cursor: pointer;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 5.2px;
    margin-top: 4.4px;
}

.post{
    width: 500px;
    height:9690.1px;
    align-items: center;
    align-content: center;
    margin-left: 45px;
    padding-top: 16px;
    
}
.createpost{
    height: 123px;
    width: 500px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    margin-bottom: 16px;
}
.rooms{
    height: 100px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    margin-bottom: 16px;
}
.imagevideos{
    height: 532px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    margin-bottom: 16px;
}
.fbbody3{
    background-color: #e4e6eb;
    width: 360px;height: 10053.1px;
    flex-direction:column;
    padding-top: 8px;
}
.onlineicon{
    width: 28px;
    height: 28px;
    background-color: rgb(201, 206, 219);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;
    

}

.online:hover{
background-color: rgb(219, 219, 219);
border-radius: 7px;
}
.createapost{
    width: 40px;
    height: 40px;
    background-color: #c9cedb;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 1px;
}
.createpostsearch{
    outline-offset: -2px;
    -webkit-appearance: none;
    margin-bottom: 10px;
    margin-top: 1px;
    margin-left: 10px;
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 10px;
    width: 420px;
    height: 40px;
    background-color: #eaeaeb;
    border-color: transparent;
    outline: none;
}
.posting{
    width:156px;height:40px;padding:8px;
}
.posting:hover{
    width:156px;height:40px;
    background-color: rgb(240, 236, 236);
    border-radius: 9px;
}

.like:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 7px;
    width: 150px;
    height:30px;
}
.comment:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 7px;
    width: 150px;
    height:30px;
}
.share:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 7px;
    width: 150px;
    height:30px;
}
.statusleft{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;  
    margin-left: 10px;
    margin-top: -188px;
}
.roundimage{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 5.2px;
    margin-top: 4.4px;
    
}
.iconimage{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 100%;
}
.profileimage{
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 100%;
    margin-right: 8px;
}


