.search_box{
    margin-top: 12px;
}
.seemore{
    width: 32px;
    height: 32px;
    background-color: rgb(201, 206, 219);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;

}
.fa-angle-down{
    padding-left: 10px;
    padding-top: 7px;
}
.myprofile{    
    padding-top: 10.5px;
    padding-left:3px;
    height: 50px;
    display:flex;

}
.myprofile:hover{
background-color: rgb(219, 219, 219);
border-radius: 7px;
width: 350px;
}
.icon{
    height:36px;
    width:36px;
    margin-top: -5px;
}

.roundimage{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 5.2px;
    margin-top: 4.4px;
    
}
.iconimage{
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 100%;
    object-fit: cover;
    

}

.footer{
    
    padding-top: 25px;
    font-size: 11px;
}
.footertext
{
    display: flex;
    padding-left:0px;   
    
}
.covid{
    margin-left: 10px;
    color: black;
    font-weight: 500;
}
.text{
    padding-left: 5px;
    color: rgb(112, 108, 108);
}
.btn-primary{
    background-color: (112, 108, 108);
     color: rgb(24, 118, 242);
     height: 40px;
     background-color:  rgb(216, 216, 216);
     height: 35px;
     border: rgb(216, 216, 216);
     margin-left: 110px;
     border-radius: 7px;width: 50px;

}
.shortcut{
    padding-top: 18px;
    padding-left: 8px;
    margin-bottom: 5px;
}
.shortcuts{
    color: rgb(112, 108, 108);
    font-weight: 600;
    font-size: 1.0625rem;
    font-family: Segoe UI Historic;
}
.borderbottom{
    border-bottom: 1px solid rgb(175, 156, 156);
    margin-top: 8px;
  
}