
 
<div class="right-element">
      <div class="ad">
        <span class="sp">Sponsored</span>
        <div class="sponser" *ngFor= "let obj of ad">
        <div  class="sponser-ad">
          <div class="adimg">
            <img class="Sp-img"alt="sponser-ad" [src]="obj.adpic" >
          </div>
          <div class ="ad-name" >
            <span class="ad1" >{{obj.adname}}</span>
            <span class="ad2" ><div class="gc8qjt7d">{{obj.adwebsite}}</div></span>

          </div>
        </div>
      </div>
      </div>
    
    <div class="line"></div>
    <div>
      <div class="cont-header">
        <span class="contacts" >Contacts</span>
        <div class="cont-icons">
          <i class="fa fa-video-camera"></i>
          <i class="fa fa-search search_image"></i>
          <i class="fa fa-ellipsis-v" ></i>
        </div>
      </div>
      <div class="online-cont">       
        <div *ngFor = "let obj of friends" class="onlinelist" >
        
        <div class="online" *ngIf="obj.online===1">     
          <div><img class="onlineicon"  [src]="obj.Myimage" alt=""></div>
          <span class="auto">{{obj.Name}} true</span>
        </div>
        
        <div class="online"  *ngIf="obj.online===2">     
          <div><img class="onlineicon" [src]="obj.Myimage" alt=""></div>
          <span class="auto">{{obj.Name}} false</span>
        </div>        
      </div>
        <div class="line"></div>
      </div>
    </div>
    <div >
      <span class="contacts">Group conversations</span>
      <div class="footer" >     
          <i class="iconround" ><i class="fa fa-plus" ></i></i>
          <span class="createnewgroup">Create New Group</span>
        </div>
    </div>
    
  </div>