.ad{
     padding-top: 20px;
     padding-bottom: 4px;
     padding-left: 16px;
     padding-right: 16px;
}
.ad-name
{
    height: 100%;
    margin-left: 16px;
    padding-top: 14px;
}
.right-element
{
    height:226.9px;
}
.ad1
{
    color: black;
    font-weight: 500;
}
.ad2
{
    color: #6a6a6e;
}
.sponser
{
    margin-top:10px;
    margin-bottom: 8px;
}
.sp
{
    color: rgb(107, 107, 110);
    font-size: medium;
    font-weight:700;
    font-size: 18px;
}
.Sp-img
{
    width:131.2px;
    height:100%;
    border-radius: 8px; 
}
.sponser-ad
{
    
    height:93.11px;
    margin-left:-10px ;
    margin-right:8px ;
    margin-bottom:8px;        
    display: flex;
}
.line
{
    border-bottom: 1px solid rgb(175, 156, 156);
    margin-top: 8px;
}
.contacts
{
    color: rgb(107, 107, 110);
    font-size: medium;
    font-weight:700;
    font-size: 18px;
}
.cont-icons
{
    color:rgb(153, 149, 149);
    display: flex;margin-left: 
    90px;padding-top: 5px;
    justify-content: space-between;
    width: 100%;
}
.cont-header
{
    padding-top: 20px;padding-bottom: 4px;padding-left: 16px;padding-right: 16px;display: flex;
}
.online-cont
{
    padding-top:20px;padding-bottom:8px;
}
.online{
    padding-top: 7px;padding-left:7px;height:50px;display:flex
}
.auto
{
    padding-top:4px;font-weight:600;
}
.onlineicon{
    width: 35px;
    height: 35px;
    background-color: rgb(201, 206, 219);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}
.footer{
    padding-top: 10.5px;
    padding-left:7px;
    height: 44px;
    display:flex;
    margin-top:10px;
    padding-top: 8px;
}
.footer:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 7px;
}
.iconround{
    width: 35px;
    height: 35px;
    background-color: rgb(201, 206, 219);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 8px;
    
}
.fa-plus{
    padding-left: 12px;padding-top:12px;font-size: 12px;color: #6c5d5d;
}

.online:hover{
background-color: rgb(219, 219, 219);
border-radius: 7px;
}

.createnewgroup{
    color:black;font-weight:600;padding-top:4px
}
