.container
{
    background-color: #ECF3FF;
}
.p-3{
    background-color: #ECF3FF;
}
.common-div{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    
}
.intro_history{
    padding-top: 10px;
    padding-bottom: 10px;
    color:grey;
}
.com{
    
    padding-top:10px;
    background-color:white;
}
.btn-outline-primary
{
    margin-top: 17px;
    margin-left: 18px;
    margin-right: 18px;
    border:transparent;
    background-color: rgb(236, 230, 230);
    
}
.innerdiv
{
    background-color:white;
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn-outline-default1
{
    float: right;
    color: #4778e6;
}
.grid-img-1
{
    object-fit: cover;
    height: 120px;
    width: 33%;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 11px;
    border-radius: 20px;
}
.btn-outline-primary-3
{
    margin-left: 2px;
    margin-right: 18px;
    border: transparent;
    background-color: #ece6e6;
    width: 153px;
    height: 250px;
    margin-top: 7px;
    border-radius: 10px;
}
.common-div{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    
}
.textheader{
    font-size:22px;

}
.grid-img 
{
    padding-left: 5px;
    object-fit: cover;
    height: 140px;
    width: 33%;
    padding-top: 4px;
}
.com-1{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    padding-bottom: 0px;
    
}
.profile_img1{
    margin-left: 9px;
     height: 40px;
     width: 40px;
     border-radius: 30px;
     margin-right: 15px;;
 }
 
.common
{
    display: block;
    padding-top:10px;
    background-color:white;
   // border-radius: 10px;
   // margin:20px;
    //margin-left: 5px;
    //margin-right: 0px;
}
.common-div{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    
}
.btn-outline-primary-2
{
    margin-left: 10px;
    border:transparent;
    background-color: rgb(236, 230, 230);
    margin-top: -46px;
    font-weight: 600;
}
.common-div1
{
    display: block;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.textheader{
    font-size:22px;

}
.btn-outline-primary-1
{
    float: right;
    margin-top: -34px;
    margin-right: -1px;
    margin-left: 14px;
    border: transparent;
    background-color: #ece6e6;
    font-weight: 600;
}
.prof-image
{
    height: 230px;
  // width: 500px;
   width: 100%
   
}
.profile_img{
    // margin-left: 9px;
     height: 40px;
     width: 40px;
     border-radius: 30px;
     margin-right: 15px;;
 }
 
.style1{
    border-top: 1px solid #8c8b8b52;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
}
.circle-icon {
    background: #1877F2;
    padding:5px;
    border-radius: 50%;
}
.circle-icon1 {
    background: rgb(240, 13, 62);
    padding:5px;
    border-radius: 50%;
}
.liketxt
{
    padding-left: 10px;
}
.style2
{
    border-top: 1px solid #8c8b8b52;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    width: 478px;
    padding-bottom: -10px;
}
.cmt
{
    
    padding: 10px;
    padding-top: 0;
}
.input-img{
    width: 85%;
    border-radius: 25px;
    background-color: #cac4c414;
}
.btn-outline-primary-ls
{
margin-right: 44px;
margin-left: 7px;
border: #ca1111;
background-color: #da151500;
margin-right: 66px;
    margin-left: 2px;
    margin-top: -103px;
}
.lv
{
    color:red;
    
}
.pv{
    color: green;
}
.le{
    color: blue;
}
.profileph{
    position: absolute;
    top: 432px;
    left:20%;
    width: 300px;
    height: 300px;
    border: 4px solid white;
    border-radius: 200px;
}
.btn-outline-primary-1
{
    float: right;
    margin-top: -34px;
    margin-right: -1px;
    margin-left: 14px;
    border: transparent;
    background-color: #ece6e6;
}

.btn-default-1
{    
    margin-top: -34px;
    border-color: transparent;
    border-radius: 50%;
    width: 200px;
    margin-left: 30px;
    font-weight: 600;
}
.input-image
{
    width: 203%;
    border-radius: 25px;
    background-color: #cac4c414;
}
.liketext
{ 
    padding-left: 8px;
    cursor: pointer;
}
.liketext1
{
    padding-left: 8px;
    cursor: pointer;
    float: right; padding-top: 0;
}
.liketext2
{
    //padding-left: 8px;
    cursor: pointer;
    padding-left: 50px;
}
.Mind-event
{
    display: block;
    padding-top:10px;
    background-color:white;
    display: flex;
}
.event-btn
{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
   // display: block;
    display: flex;
}
.view-btn
{
    display: block;
    padding-top:10px;
    background-color:white;
    display: flex;
}
.pr-post
{
    display: block;
    padding-top:10px;
    background-color:white;
    display: flex;
    margin-left: 0
}
.post-line
{
    border-top: 1px solid #8c8b8b52;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    margin-top: 106px; padding-top: 0px;
}
.row-common
{
    float: left;
}
.lin{
    padding-top: 16px;
}
.lcs
{
    display: block;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
}
.lcs-line
{
    border-top: 1px solid #8c8b8b52;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    width: 478px;
    padding-bottom: -10px;
    margin-top: -100px; margin-bottom: -3px;
}
.comment
{
    display: flex; margin-left: 0px; padding-top: 7px;
}
.search
{
   // display: block;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex; 
    margin-top: -31px;
    margin-bottom: -10px;
}
.prof-image1
{
    width: 100%; height: 400px;
}
.row-post
{
    padding-top: 13px;float: left;
}
.lin
{
    display: block;
    padding-top:10px;
    background-color:white;
    padding-top: 16px;
}
.lcs-line1
{
    border-top: 1px solid #8c8b8b52;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    width: 478px;
    padding-bottom: -10px;
    margin-top: -53px;  margin-left: 12px;
}
.comment-here
{
   
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;;
    margin:20px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
   // margin-top: -31px;
    margin-bottom: -10px;
    margin-top: -81px;
    
}
.line-sty
{
    border-top: 1px solid #8c8b8b52;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    width: 478px;
    padding-bottom: -10px;
  margin-top: 32px;
}
