  

<div class="container">
    <div class="row p-3">
      <div class="col-12 col-md-5">
        <div class="row common-div">
          <span class="textheader"><b>Intro</b></span>
          <div class="intro_history">
            <span
              ><i class="fa fa-graduation-cap pr-2"></i>{{Prinfobj.Graduate}}</span
            >
          </div>
          <div class="intro_history">
            <span
              ><i class="fa fa-graduation-cap pr-2"></i>{{Prinfobj.School}}</span
            >
          </div>
          <div class="intro_history">
            <span
              ><i class="fa fa-home pr-2"></i>{{Prinfobj.Place}}</span
            >
          </div>
          <div class="intro_history">
            <span
              ><i class="fa fa-map-marker pr-2">{{Prinfobj.Location}}</i></span
            >
          </div>
          <div class="intro_history">
            <span><i class="fa fa-heart pr-2"></i>{{Prinfobj.Status}}</span>
          </div>
          <div class="intro_history">
            <span><i class="fa fa-clock-o pr-2"></i>{{Prinfobj.Join}}</span>
          </div>
        
          <div class="row com">
          
            <button type="button" class="btn btn-outline-primary btn-block">
                Edit Details
              </button>
          
            <button type="button" class="btn btn-outline-primary btn-block">
              Add Hobbies
            </button>
          
         
            <button type="button" class="btn btn-outline-primary btn-block">
              Edit featured
            </button>
          
        </div>
        </div>
        
        

        <div class="row common-div">
          <span class="textheader"><b>Photos</b></span>
          <button type="button" class="btn btn-outline-default1"> See All</button>
          <div class="innerdiv">
            <img
      class="grid-img img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image" style="border-radius: 15px 0px 0px 0px"
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image"
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image" style="border-radius: 0px 15px 0px 0px;"
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image"
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image"
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image"style="border-radius: 0px 0px 0px 15px;"
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image"
    />
    <img
      class="grid-img  img-fluid"
      [src]="Prinfobj.Friendimg"
      alt="Background Image" style="border-radius: 0px 0px 15px 0px;"
    />
  </div>
        </div>
        <div class="row common-div">
          <span class="textheader"><b>Friends</b></span>
          <button type="button" class="btn btn-outline-default1"> See All</button>
          <div>
            <span>794 friends</span>
          </div>
          <div class="innerdiv">
            <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
    <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
    <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
      <div class="row" style="padding-left: 30px;">
      <span>Jana</span>
      <span class="row" style="    padding-left: 113px">Sham</span>
      <span class="row1" style="    padding-left: 113px">Natraj</span>
    </div>
    
    
          </div>
          <div class="innerdiv">
            <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
    <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
    <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
      <div class="row" style="padding-left: 30px;">
      <span>Suresh</span>
      <span class="row" style="    padding-left: 113px">Jagen</span>
      <span class="row1" style="    padding-left: 113px">Santhosh</span>
    </div>
    
    
          </div>
          <div class="innerdiv">
            <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
    <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
    <img
      class="grid-img-1 "
      [src]="Prinfobj.Friendimg"
      alt="Background Image" 
    />
      <div class="row" style="padding-left: 30px;">
      <span>Moorthi</span>
      <span class="row" style="    padding-left: 113px">Dutch</span>
      <span class="row1" style="    padding-left: 113px">John</span>
    </div>
    
    
          </div>
        </div>
      

         <div class="row common-div">
           <div>
        <span class="textheader"><b>Live Events</b></span>
      </div>
        <div>
        <button type="button" class="btn btn-outline-primary-3"><i class="fa fa-graduation-cap"></i> Started College At Christ College of Engineering And Technology<br> 2012</button>
      </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6">
        <div class="row com-1" >
          <div class="row Mind-event">
          <img
            class="profile_img1"
            [src]="Prinfobj.Friendimg"
          />
          <input
            type="text"
            class="form-control input-img"
            placeholder="Whats on your mind?"
          />
          </div>
        <div class="row common">
        
            <hr class="style2" >
          </div>
          <div class="row event-btn " >
            <div>
            <button type="button" class="btn btn-outline-primary-2">
            <i class="fa fa-video-camera fa-1x lv"></i> live Video
            </button>
          </div>
        
       <div>
          <button type="button" class="btn btn-outline-primary-2">
            <i class="fa fa-picture-o fa-1x pv"></i> Photos/Videos
          </button>
        </div>
       <div>
          <button type="button" class="btn btn-outline-primary-2">
            <i class="fa fa-flag fa-1x le"></i> live Event
          </button>
        </div>
        </div>
      </div>
      
    
        <div class="row common-div1" >
          <span class="textheader"  ><b>Posts</b></span>
          <div >
            
          <button type="button" class="btn btn-outline-primary-1 ">
            <i class="fa fa-gear"></i> Manage Posts
          </button>
          <button type="button" class="btn btn-outline-primary-1 ">
            <i class="fa fa-sliders"></i> Filters
          </button>
        </div>
        <div class="row common" >
          <hr class="style1">
        </div>
          <div class="row view-btn" >
            <button type="button" class="btn btn-default-1 "><i class="fa fa-bars"></i> List view </button>
            <button type="button" class="btn btn-default-1 "><i class="fa fa-th-large"></i> Grid View</button>
        </div>
        </div>
    
        <div class="row common-div1" >
          <div class="row pr-post">
          <img
            class="profile_img"
            [src]="Prinfobj.Friendimg"
          />
          <span class="text"
            ><a herf="#"><b>Dhatchina</b>  Updated his profile picture</a></span
          >
        </div>
          <div class="row common">
            <img
              class="prof-image"
              [src]="Prinfobj.Friendimg">
             
              <img
              class="profileph"
              [src]="Prinfobj.Myimage"
              alt="profile Photo"
            />
          </div>
          <div class="row common"  >
            
            <hr class="post-line">
          
          </div>
          <div class="row-common">
          <span ><i class="fa fa-thumbs-up circle-icon "></i></span>
          <span ><i class="fa fa-heart-o circle-icon1" ></i></span>
          <span class ="liketext">Raghu dx armer, prabagaran and 109 others</span>
        </div>
          <div>
            <span class ="liketext1">3 comments</span>
          </div>
          
          <div class="lin" > 
        
            <hr class="style2" >
          </div>  
          
          
          <div class= " row " >
            <div class="row lcs">
              <div>
              <button type="button" class="btn btn-outline-primary-ls"><i class="fa fa-thumbs-o-up"></i> Like
            </button>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary-ls"><i class="fa fa-paper-plane-o"></i> comment</button>
          </div>
          <div>
            <button type="button" class="btn btn-outline-primary-ls"><i class="fa fa-share"></i> Share</button>
          </div>
        </div>
          
        <div class="row common-div1"  >
        
          <hr class="lcs-line" >
          <span><a herf="#">view 2 more comments</a></span>
          <div class="comment">
            <div >
          <img
          class="profile_img"
          [src]="Prinfobj.Myimage">
        
        </div>
          
        <div class="row">
        <span class ="cmt"><a><b>Siva Aravind</b> <br> Mass ah</a></span>
    
            </div>
          </div>
      <span class="liketext2">like </span>
      <a>.</a>
      <span  class="liketext">  Reply</span>
      <a>.</a>
      <span  class="liketext">  6w</span>
        </div>
       
                              
          <div class= " row search " >
            <div>
              <img
              class="profile_img"
              [src]="Prinfobj.Myimage">
          </div>
          <div>
            <input
              type="text"
              class="form-control input-image"
              placeholder="comment Here"
            />
        </div>
    
          </div>
          </div>
        
        </div>
    
        <div class="row common-div1">
          <img
            class="profile_img"
            [src]="Prinfobj.Myimage">
          <span class="text"
            ><a herf="#"><b>Rajkumar</b> </a> is with <b>dhina Karnan</b> and
            <b>46 others</b></span
          >
          <div class="row common" >
            <img  class="prof-image1" [src]="Prinfobj.Myimage" >
          </div>
    
         
          <div class="row-post">
          <span ><i class="fa fa-thumbs-up circle-icon "></i></span>
          
          <span class ="liketext" >chandru and 3 others</span>
        </div>
          
          
          <div class="row lin" > 
        
            <hr class="line-sty" >
          </div>  
          
          
          <div class= " row " >
            <div class="row lcs" >
              <div>
              <button type="button" class="btn btn-outline-primary-ls"><i class="fa fa-thumbs-o-up"></i> Like
            </button>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary-ls"><i class="fa fa-paper-plane-o"></i> comment</button>
          </div>
          <div>
            <button type="button" class="btn btn-outline-primary-ls"><i class="fa fa-share"></i> Share</button>
          </div>
          <div class="row lin" > 
        
            <hr class="lcs-line1" >
          </div> 
        </div>  
          <div class= " row comment-here ">
            <div>
              <img
              class="profile_img"
              [src]="Prinfobj.Myimage">
          </div>
          <div>
            <input
              type="text"
              class="form-control input-image"
              placeholder="comment Here"
            />
        </div>
        </div>
        
        </div>
      </div>
    </div>
      
     
  </div>
</div>